config/
clients/*
!clients/*.template
wireguard/
**/*.conf
**/*.key
**/*.log
services/nginx/certs/
services/adguard/conf/
services/adguard/work/
services/glances/
services/homepage/kubernetes.yaml
services/homepage/docker.yaml
services/homepage/proxmox.yaml
.env
