server {
    listen 80;
    server_name homepage.home.arpa;
    return 301 https://$host:${NGINX_HTTPS_PORT}$request_uri;
}

server {
    listen 443 ssl;
    server_name homepage.home.arpa;

    set $backend homepage:3000;
    include /etc/nginx/proxy_params.conf;
}
