server {
    listen 80;
    server_name jellyfin.home.arpa;
    return 301 https://$host:${NGINX_HTTPS_PORT}$request_uri;
}

server {
    listen 443 ssl;
    server_name jellyfin.home.arpa;

    set $upstream_jellyfin jellyfin:8096;

    location / {
        proxy_pass http://$upstream_jellyfin;
        include /etc/nginx/proxy_params.conf;
    }
}
